<link rel="stylesheet" href="/css/change_password.css">
<script src="/js/sign_up.js"></script>

<div id="form-container" class="mx-auto shadow p-3 mb-5 bg-white rounded col-8 col-lg-5">
    <!-- heading -->
    <div class="heading-container text-success">
        <h1>Reset Password</h1>
    </div>

    <form action="/users/change-password/success/?id=<%= link.id %>" method="POST">
        <input id="password-input" class="w-75 mb-2 form-control" type="password" name="password" placeholder="New Password" required>
        <p style="font-size: small;" class="pass-not" id="password-notification">*The password should be 8 characters long and must contain a number</p>
        <input id="verify-password-input" class="w-75 mb-2 form-control" type="password" name="verify_password" placeholder="Verify Password" required>
        <p style="font-size: small;" class="pass-not" id="verify-pass-notification">*Doesn't Match</p>
        <button type="submit" class="w-75 btn btn-primary">Reset</button>
    </form>
</div>