<div>
    <form action="/users/change-password/success/?id=<%= link.id %>" method="POST">
        <input type="password" name="password" placeholder="New Password" required>
        <input type="password" name="verify_password" placeholder="Verify Password" required>
        <button type="submit">Reset</button>
    </form>
</div>