<div id="form-container">
    <form action="/users/send-reset" method="POST">
        <input type="email" name="email" placeholder="Your Email" required>
        <button type="submit">Send Reset Link</button>
    </form>
</div>