<link rel="stylesheet" href="/css/forget_password.css">

<div id="form-container" class="mx-auto shadow p-3 mb-5 bg-white rounded col-8 col-lg-5">
    <!-- heading -->
    <div class="heading-container text-success">
        <h1>Forget Password</h1>
    </div>

    <div>
        <a href="/users/sign-in">Return back to Sign In?</a>
    </div>

    <form action="/users/send-reset" method="POST">
        <input class="w-75 mb-2 form-control" type="email" name="email" placeholder="Your Email" required>
        <button type="submit" class="w-75 btn btn-primary">Send Reset Link</button>
    </form>
</div>