<div id="sign-in-container">
    <!-- heading -->
    <div class="heading-container">
        <h1>Sign In</h1>
    </div>
    <!-- form container -->
    <div class="form-container">
        <form action="/users/create-session" method="POST">
            <!-- email field -->
            <input type="email" name="email" placeholder="Your Email" required>
            <!-- password field -->
            <input type="password" name="password" placeholder="Your Password" required>
            <!-- submit button -->
            <button type="submit">Login</button>
        </form>
    </div>
</div>