<link rel="stylesheet" href="/css/sign_in.css">

<div id="sign-in-container" class="mx-auto shadow p-3 mb-5 bg-white rounded col-8 col-lg-5">
    <!-- heading -->
    <div class="heading-container text-success">
        <h1>Sign In</h1>
    </div>
    <!-- form container -->
    <div class="form-container">
        <form action="/users/create-session" method="POST" class="d-flex flex-column bd-highlight mb-3"> 
            <!-- email field -->
            <input class="w-75 mb-2 form-control" type="email" name="email" placeholder="Your Email" required>
            <!-- password field -->
            <input class="w-75 mb-2 form-control" type="password" name="password" placeholder="Your Password" required>
            <!-- submit button -->
            <button class="w-75 btn btn-primary" type="submit">Login</button>
        </form>
    </div>
    <!-- links -->
    <div>
        <a href="/users/sign-up">Don't Have a account? Create Now!</a>
    </div>
    <div>
        <a href="/users/forget">Forget Password?</a>
    </div>
    <div>
        <p>Or</p>
        <a style="text-decoration: none; color: #db3236;" href="/users/auth/google"><i class="fab fa-google"></i> <span style="color: #1752b8;"> Sign In using Google Account </span></a>
    </div>
</div>